[2021-11-08 00:32] gbowne1 opened #12 "Discord MEE6 Bot"
The MEE6 `Welcome Message` displayed when new members may be TL;DR as most new people don't post their intros into  the `Introduction` channel and/or didn't respond with an emoji to the guidelines.

The copy of the current text is in the `Discussions` tab.

[2021-11-08 05:49] gbowne1 opened #13 "The Art of Tech: NPWAFT Discord Rules"
Please see NEWRULES.md

I would like to propose that we adopt these new rules for Discord at the very least for Discord and get them approved and onto Discord .

Please review and comment changes, questions, etc.

Thanks!

[2021-11-09 00:11] gbowne1 commented on #13
If everyone is ok with the new rules. Emoji the Comment above with a :+1: and I will get the new rules posted to Discord.

[2021-11-16 10:27] gbowne1 opened #24 "Create Social Media Preview image"
This image is: 640×320px (1280×640px)

This image apparently is a social media preview for the group repository on Github

Ideally this would be our logo.

[2021-11-16 10:37] gbowne1 opened #25 "Create a logo for group and website to replace the current one."
We do have a logo currently but there are some issues with it. That logo I threw together quickly using a free online generator.  I am no artist though.

It does not look great on our website at 1920x1080.
I doubt it would look great on mobile.

We really need a new set of artwork, logos, thumbnails in .jpg, .png, .svg and .ico especially for our website.

[2021-11-16 10:40] idormain commented on #25
Hire from fivrr. Logo development is generally cheap. Must ensure contractually we own the IP.

Sent from my iPhone

[2021-11-16 12:25] gbowne1 commented on #25
Good idea.  There are lots of creators on sites like UpWork, Fiverr, etc.

Facebook also needs a set of graphics.  The current banner image is just a placeholder for a better image.

Yeah, we will have to make sure we legally and contractually own the IP.

We do have some funds available for this.

This brings the question, how do we decide who has the skills so thar we get the best possible image

[2021-11-16 21:49] gbowne1 commented on #13
The new rules were posted to #rules with addidional channel cleanups done.

[2021-11-17 01:51] gbowne1 commented on #24
[Social Media Preview Image](https://github.com/gbowne1/taotnpwaft/settings/og-template)

[2021-11-18 00:28] gbowne1 opened #29 "Editor Settings / Project Settings Files / Workspace Files"
**Is your feature request related to a problem? Please describe.**

No, this is a feature request that is not related to a problem.

**Describe the solution you'd like**

Would like some default editor settings created for the popular editors and IDE's for the following:

Javascript ES6/ES7, Markdown, HTML, CSS, PHP 7 and 8, Ajax, JQuery, C#/.NET that follow the style guides.

I don't know if this

[2021-11-18 01:03] gbowne1 commented on #25
Facebook Requires:
   820 pixels wide by 312 pixels tall on desktop. However, mobile users will see 640 pixels wide by 360 pixels tall. The Aspect ratio is 16:9 and the Group Cover banner is supposed to be 1640 x 856 pixels.

[2021-11-18 01:13] gbowne1 opened #30 "Create new or refactor Bug Report and Feature Request files into .yml"
Github has deprecated the use of .md [Markdown] files in the .github/ISSUE_TEMPLATE/ folder and changed to YAML .yml front-matter.

There is also a configuration file `config.yml` that tells Github how to to use the file(s) that goes into this directory.

The current  files are all .md in this folder.

see: [Issue Templates](https://docs.github.com/en/communities/using-templates-to-encourage-usefu

[2021-11-20 01:57] gbowne1 commented on #24
![Screenshot 2021-11-19 at 17-21-46 Watchers · gbowne1 taotnpwaft](https://user-images.githubusercontent.com/47549872/142710373-771fb251-18e5-4fd6-ae6b-85bd3940bd36.png)

[2021-12-17 05:28] gbowne1 opened #31 "Github Actions/Workflows"
sitebuild.yml causes a build failure on Actions/Workflows

See:

https://github.com/gbowne1/taotnpwaft/blob/master/.github/workflows/sitebuild.yml

[2021-12-30 02:55] gbowne1 commented on #29
Settings, workspace and project settings that have been added:

- VSCode (.vscode)
- Sublime/Sublime Text
- Jetbrains IntelliJ (.idea)
- Visual Studio (.vs)
- Atom (.atom)

I think this covers the major editors / IDE's that would be used.

Any others?

[2022-01-04 08:52] gbowne1 opened #34 "Modal Popup for Register"
Create modal popup for [Register] button.

[2022-01-08 08:28] gbowne1 commented on #29
@idormain can you test any of these?

[2022-01-08 08:31] gbowne1 commented on #12
Progress?

[2022-01-08 09:04] gbowne1 opened #36 "[TODO] Website - Blog Functionality"
I have made a folder in this repository called /website/blog/ and this section will house the blog functionality.. and the main rendered page will be blog.html (or should it be blog.php or blog.js)

Most blog websites have been made with PHP, Javascript, jQuery and Ajax.  Examples are Wordpress, LiveJournal, Blogger..

What type of functionality do we need to inherit?

Posts:
 - Add Posts
 - Edit

[2022-01-08 09:27] warisreshi commented on #36
You can add things like a author system if you want, It may need a login/register system in PHP and MYSQL.

[2022-01-08 09:41] gbowne1 commented on #36
The site will have login and register by itself.  Would the blog use a separate login & register in order to inherit the author system?

Is there a library?

[2022-01-08 09:47] gbowne1 commented on #34
There is stub code at the end of the index.html for the modal(s).

The Login modal works.  Tested with VSCode Live Server extension as well as in Firefox 95.  Register does not, although the register new.

Login modal needs some refinement.

[2022-01-08 09:50] gbowne1 opened #37 "Website SEO"
Website SEO

[This will be linked to a discussion and part of the Kanban in Projects]

At the very minimum we need to use Google's SEO

I have added some stub code in the <head> in order to configure the Google SEO.

I would also like to add OpenGraph tags for Twitter, Linkedin, etc.

[2022-01-08 09:54] gbowne1 opened #38 "Feature: Docker Development container"
I've inserted a sample Docker .devcontainer which needs finished and set up to be used for this group.

If any one would like to help further this project or test the container which would be used by the group to facilitate the creation of this repository and any documentation, project or product.

[2022-01-12 10:45] gbowne1 opened #43 "[GROUP] Group Documentation & METADATA"
Since we are a small yet growing group, we will need to create some documentation and reuseable metadata for the group.

Some things will depend on group content guidelines.

- We should create some basic content guidelines, which would not necessarily rules but detail content posted.

- I've started to create some code guidelines for contributng code, setting up the development environment, codes

[2022-01-12 10:57] gbowne1 opened #44 "Twitch Live Stream"
Twich is growing in popularity amongst both Science & Tech and Game & Software Dev categories.

Should we stream to Twitch on a regular schedule?

If so, we should create a TwitchBot for Twitch.

Thoughts?

[2022-01-12 11:13] gbowne1 opened #45 "Facebook Group"
I have not put significant work the last 12 monrhs into developing Facebook content especially due to the lack of other members not posting on Facebook.

This begs the question should we continue on Facebook?

How will we and can we make a plan to create content on Facebook.

Some original TAOTNPWAFT  members have removed their Facebook accounts.

If we do not continue using Facebook, what sites d

[2022-01-15 07:25] gbowne1 opened #46 "[TODO] IIS & Server Configuration"
[TODO] Add IIS server configuration

[2022-01-15 07:52] gbowne1 opened #47 "[TODO] Website - Light Mode/Dark Mode Theme Swtich"
[TODO] Light Mode/Dark Mode Theme Switch

Create a working light/dark theme switch.

[2022-01-15 08:09] gbowne1 opened #48 "[TODO] Website - Admin Panel"
[TODO] Admin panel for website

I have inserted a stub of code for admin panel for the site and the blog inside website/admin.html

[2022-01-15 11:08] idormain commented on #48
Shouldn’t we know what functions requiring an admin panel there are?

Sent from my iPhone

[2022-01-15 19:39] gbowne1 commented on #48
@idormain yes.  The blog page will need a admin panel. If not, a way to edit posts, commenting, etc.   The same goes for the rest of the site, since we likely will have logged in users, etc.

[2022-01-15 19:45] idormain commented on #48
Hi Greg

Ok, editing, adding and deleting blogs say. This functionality seems more in line with a CMS? Are we going to be building a quasi CMS?

Cheers

Ivan

Sent from my iPhone

[2022-01-15 19:50] idormain commented on #48
Hiya

I guess do we build the site from scratch or do we use something like Wordpress and code our features?

Sent from my iPhone

[2022-01-15 19:59] gbowne1 commented on #48
Quasi CMS.. probably.  The site itself will need some similar functionality, not just the blog and things in its Database.

Most blog pages and blog sites have a means of managing this.  Keep in mind /blog.html page on our site would be a significant portion of our site content.. however not all of it

A person/user intending to read notififcations, comment on blog posts, edit posts, like and shar

[2022-01-15 20:03] gbowne1 commented on #48
I would say continue building it from scratch.  I had considered Wordpress only if we couldnt manage to get something working

[2022-01-15 20:35] gbowne1 commented on #48
Most of what Wordpress and others does is interact with the DB anyhow.  Shouldnt be that hard.

[2022-01-15 21:15] gbowne1 commented on #48
Quoted from a good friend of mine. "Use a tool like PHP that allows dynamic generation of web pages.

You would create a page with a form that allows you to add a blog post: it gives title, content, and perhaps author name and date and time to display.

That page would take the information you wrote on the form and write it as a record on the database, for example, to a POSTS table.

In the simple

[2022-01-15 22:18] idormain commented on #48
Hiya

Yes, I understand about CMS and databases, also, we should try to limit the number of libraries being used.

Cheers

Ivan

Sent from my iPhone

[2022-01-15 23:20] gbowne1 commented on #48
Yeah, that's fine @idormain It's available as needed.

i'll stick this here for reference and as an option
- https://ghost.org/docs/content-api/
- https://ghost.org/docs/content-api/javascript/
- https://ghost.org/docs/admin-api/javascript/
- https://ghost.org/docs/admin-api/

I agree about limiting the libraries.  However we're not likely to need much more than we already have.

[2022-01-18 05:34] gbowne1 opened #49 "[TODO] clean up the TAOT.css file"
[TODO] clean up the main CSS File, TAOT.css.

- Add mobile views and @media queries for common mobile devices and browsers.

- Fix issue with [register] and [login] button separation on navigation bar under the jumbotron.

- Move the X [Close] button for left side navigation drawer to a better location.

[2022-01-18 05:37] gbowne1 commented on #49
Add colors and styling to Social Media icons on main page.

[2022-01-18 05:44] gbowne1 opened #50 "[TODO] Website - Google SEO & SEO"
[TODO]

complete the SEO meta in <head>...</head>

Organize the SEO meta.

[2022-01-18 06:35] Trupti0406 commented on #47
@gbowne1 I'd like to work on this issue. It'd be helpful if you give more details about the same, regarding where to add the theme switch. Please assign this task to me.

[2022-01-18 06:37] Trupti0406 commented on #49
@gbowne1 I'd like to work on this issue. Please assign it to me.

[2022-01-18 07:11] gbowne1 commented on #47
@Trupti0406
 Thanks.  Put the theme switch in the black horizontal navbar in an appropriate place.

We are using the convention .TAOT for styling so for a theme it would be something like .TAOTtheme or .TAOTTheme

[2022-01-18 07:13] gbowne1 commented on #49
@Trupti0406

 I would appreciate any help with this you can provide.

We are using the convention .TAOT for the styling as you can see in the TAOT.css file.

[2022-01-18 07:20] gbowne1 commented on #49
I did some research on @media queries for mobile views and should fit:

Height:  values 360 through 430
Width: values 470 through 926

For a tablet it seems that 600 to 800 x 1080 to1280 should be good at 100%.
This may exclude the Kindle.

[2022-01-18 07:29] gbowne1 opened #51 "[TODO] Website - Move the <script> tags to the end of the HTML for faster loading"
[TODO]
   Move the <script></script> tags from the head to the end of the HTML for faster loading.

  Also remove the extra CDN links to Bootstrap and FontAwesome in the <head>

[2022-01-18 07:33] gbowne1 opened #52 "[TODO] Website - Browser compatibility and view(port) testing"
[TODO]:

  Test the last two Firefox and the last two Google Chrome versions.

  Also both versions on Linux, Mac and Windows as well as mobile versions.

  Test against caniuse browser usage statistics (anything that reports above 4% usage)

[2022-01-18 07:38] gbowne1 opened #53 "[TODO] Website - Create favico.ico file"
Create a 32px x 32px favico.ico file

[2022-01-18 08:21] NaincyKumariKnoldus commented on #51
Hey @gbowne1 Can I do this please?

[2022-01-18 09:49] gbowne1 commented on #36
I was thinking it might be possible to cache our blog entries as simple HTML snippets and then the other content / images, in something like AWS S3 buckets, and load them using purely javascript via AJAX or make life easier with jQuery or another JS framework served from a CDN. This avoids the need for PHP and MySQL entirely, but since we are using them..

[2022-01-18 10:44] gbowne1 opened #54 "[TODO] Website - User Profile"
[TODO] Create user profile

- Avatar or photo
- Location
- Age
- employer
- job title/role
- contact details [email, phone, website, etc]
- display last login date
- if online, display login status
- online offline status
- timestamp of joining
- if staff, contributor, moderator, admin display
- experience ie webdev, coding, devops, cloud, IT, communications, blogger, sysadmin, QA/QC, engineer, et

[2022-01-18 10:46] gbowne1 opened #55 "[TODO] Website - User Profile"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-01-18 17:13] Ritul2112 commented on #51
@gbowne1 I can help..

[2022-01-18 21:37] gbowne1 commented on #51
@NaincyKumariKnoldus I can assign you this task.

[2022-01-19 04:11] NaincyKumariKnoldus commented on #51
sure @gbowne1 I will do this. thanks!

[2022-01-19 04:28] gbowne1 opened #56 "[TODO] Website - Blog"
[TODO] Website - Blog

Build a blog page on the site @ /blog.html

Reference this [Discussion](https://github.com/gbowne1/taotnpwaft/discussions/35) and TODO actions in Projects tab

There is code snippits and a stub inside the /website/blog/ folder
Use Bootstrap, FontAwesome

Use card, container,
Use flexbox or bootstrap row/column

[2022-01-19 06:35] NaincyKumariKnoldus commented on #51
Hey @gbowne1 Can you please review my PR.

[2022-01-19 07:00] gbowne1 commented on #51
Good work @NaincyKumariKnoldus, thanks for the opportunity to review your PR.  I've merged your PR moving the scripts from the head and tested.  All good.

[2022-01-19 07:00] #51 closed

[2022-01-19 07:08] gbowne1 opened #58 "[TODO] Website - Privacy Policy and Terms and Conditions"
[TODO] Website - Privacy Policy and Terms and Conditions

Add a Privacy Policy and Terms and Conditions for the website and linked in footer (already links in the HTML)

[2022-01-19 07:34] gbowne1 opened #59 "[TODO] GitHub folder - Refactor .md into the new YAML/.yml files for"
[TODO] GitHub ISSUE_TEMPLATE folder in .github needs refactored into the current .yml and check configuration in config.yml

- Move all Issue Templates, Bug Reports and Feature Request forms into the /ISSUE_TEMPLATE folder
- Per GitHub documentation, Markdown Templates are being deprecated.
 https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests

[2022-01-19 07:39] RishiKumarRay commented on #30
I would like to do this , Assignme

[2022-01-19 07:47] gbowne1 commented on #30
@RishiKumarRay,

   Do you have experience with refactoring .md into YAML/.yml?  or with YAML?

[2022-01-19 07:49] RishiKumarRay commented on #30
Yeah i have made issue templates in Yaml recently , Do you want me to make new one or refector this md into yaml?

[2022-01-19 07:55] gbowne1 commented on #30
Ok, It would be great if you could please refactor and also make sure the config.yml is correct.

[2022-01-19 08:01] RishiKumarRay commented on #30
Sure i will try my best

[2022-01-19 08:30] gbowne1 commented on #36
This might be useful.  Some MySQL for blogs.

https://mysql.tutorials24x7.com/blog/guide-to-design-a-database-for-blog-management-in-mysql

[2022-01-19 08:36] gbowne1 opened #60 "[TODO] Group - Add mission statement"
Create and add mission statement for The Art of Tech: Not playing with a Full Tech

[2022-01-19 09:15] gbowne1 opened #61 "[TODO] Website - Styling contact form"
Styling for contact form is incorrect

Should be added to the TAOT.css

This might be good as a card, popper, container, modal or flexbox.

Use Bootstrap, FontAwesome, Popper?

[2022-01-19 09:16] gbowne1 commented on #61
The About page on about.html also doesn't seem to render the same as index.html

[2022-01-19 09:19] gbowne1 commented on #46
It might be useful to create the Powershell etc to help manage the server.

[2022-01-19 09:44] idormain commented on #46
Powershell is great, but it’s great in multi server environments where you have hundreds of servers. Do we really need to develop powershell to manage one server?

Sent from my iPhone

[2022-01-19 18:47] gbowne1 commented on #46
I don't know, @idormain , That's why I asked.  We aren't likely to have more than 4-5 servers and a storage array (MD1200, etc) at any one time.

When I was using IIS Express locally I made a bunch of things to help me out with maintaining that.

[2022-01-19 20:15] idormain commented on #46
Hiya

I thought initially there would be a single server running?

Sent from my iPhone

[2022-01-19 20:25] gbowne1 commented on #46
Yes to start with.  I cant see us having more than 4 or 5 to do anything we
need to do.  1 or 2 should be fine.

We may need a firewall machine though.

On Wed, Jan 19, 2022, 12:15 PM idormain ***@***.***> wrote:

[2022-01-20 09:48] gbowne1 opened #62 "[TODO] Website - Accessibility testing"
[TODO] Website - Accessibility

Do some accessibility testing in Chrome & Firefox and work on those issues found.

[2022-01-20 10:06] gbowne1 commented on #29
- added rest of .idea folder from the other TAOT website repository.

[2022-01-20 15:13] Mahad410 commented on #61
I want to contribute to your project so I want you to believe in me.

[2022-01-20 21:22] #47 closed

[2022-01-20 21:40] gbowne1 opened #66 "[TODO] Website - Clean up libraries"
TODO -

  Clean up and update the libraries Toastr and JQWidgets which appear to have some security vulnerabilities.

  Consider using the Bootstrap 5 Toasts instead.
  https://getbootstrap.com/docs/5.0/components/toasts/

  jQuery has libraries to replace jQWidgets.

  Make sure that everything in /website/Libs folder is up to date, or consider using CDN's.

  Consider using Popper.js library and

[2022-01-20 21:44] gbowne1 commented on #61
@Mahad410 you are welcome to work on it. We will review your PR, if it looks good and works it will be merged.  Thanks for the request.

[2022-01-20 22:04] gbowne1 opened #67 "[TODO] Website - Build a sitemap"
Part of normal website design appears to be sitemaps.

- Build a sitemap for our site

[2022-01-20 23:44] gbowne1 opened #68 "[TODO] Website - Content move right on click hamburger drawer nav"
This may or may not be a 'thing' but when the drawer opens the content does not move to the right so the drawer nav panel covers the left side of the content.

Needs a method to push the content to the right when the hamburger gets clicked.

[2022-01-20 23:51] gbowne1 opened #69 "[TODO] Website - Performance testing"
[TODO] Website - Performance testing with mobile and desktop and different browsers.

  https://www.webpagetest.org/

[2022-01-22 10:49] Mahad410 commented on #61
It's already done you can check it and I want to contribute more.

[2022-01-22 19:15] gbowne1 commented on #61
I did not see a pull request from you @Mahad410

[2022-01-22 21:53] gbowne1 opened #70 "[TODO] Website - Chat"
TODO - Website

  Complete the website/chat functionality.

  Not a high priority item, but at least get it ready for testing by website 1.0.0 milestone

  Stub code is in /website/chat of this repository.

  My thoughts are not to have chat outside of Discord till we have added 100 acrltive members.

[2022-01-22 22:15] gbowne1 opened #71 "[TODO] Website - Finish 404 page"
Finish 404 error page and test.

[2022-01-22 22:30] gbowne1 commented on #67
Here is a google reference

https://developers.google.com/search/docs/advanced/sitemaps/overview
https://developers.google.com/search/docs/advanced/sitemaps/build-sitemap

[2022-01-23 09:42] Mahad410 commented on #61
check again

[2022-01-25 00:20] gbowne1 commented on #62
Fix some "contrast" issues.
Make sure all form elements have text labels.
Make sure all necessary elements have focus styling.
Make sure that all elements meet WCAG standards

[2022-02-08 23:20] gbowne1 opened #73 "[TODO] Website - Fix Blog rendering"
/website/blog/blog.html is not rendering correctly.  It should be basically the same as website/index.html

It currently renders like this:

![Screenshot 2022-02-08 at 15-16-29 The Art of Tech Not Playing with a Full Tech](https://user-images.githubusercontent.com/47549872/153091981-819c66cb-4a10-44e0-9dab-09fdb6265dd5.png)

[2022-02-10 14:56] omkarg01 commented on #73
@gbowne1 I would like to work on this issue.

[2022-02-10 19:37] gbowne1 commented on #73
@omkarg01 you are welcome to work on this.

[2022-02-11 17:59] omkarg01 commented on #73
@gbowne1 How can I reproduce it?

[2022-02-11 18:33] gbowne1 commented on #73
@omkarg01 I don't know, but website/index.html renders fine. So you might use that to start over.

[2022-02-11 18:53] omkarg01 commented on #73
Where is the difference?
![greg](https://user-images.githubusercontent.com/67428719/153651176-e51ab390-0a57-4563-83db-cd027523fa88.png)
I can see that /website/blog/blog.html is rendering as what website/index.html should be.

[2022-02-11 19:35] gbowne1 commented on #73
@omkarg01

 ![Screenshot_2022-02-10_at_22-05-51_The_Art_of_Tech_Not_Playing_with_a_Full_Tech](https://user-images.githubusercontent.com/47549872/153657552-b97f5073-76b0-4760-bdb0-a16f037a6bc8.png)

This is how it should render.

[2022-02-23 04:36] gbowne1 opened #74 "[TODO] Website - Fix broken User Profile"
[TODO] Website

Fix the broken user profile and its layout.

Add "Profile" to left navigation drawer

Also current data displayed is not dynamic.

Files:
https://github.com/gbowne1/taotnpwaft/blob/master/website/profile.html
https://github.com/gbowne1/taotnpwaft/blob/master/website/profile.css

[2022-02-23 15:19] Mahad410 commented on #74
Can you explain this to me and I would like to work on this

[2022-02-23 15:21] Mahad410 commented on #68
I will work on it

[2022-02-24 23:42] gbowne1 commented on #74
Ok @Mahad410 .  I will update the TAOTSite.drawio file.

Here is the current render of the file taotnwpaft/website/profile.html
![Screenshot 2022-02-24 at 13-58-26 User Profile](https://user-images.githubusercontent.com/47549872/155615035-ef7a8564-53fc-49a3-b992-0d802563ae34.png)

It's currently quite a mess.
- The two panels are not responsive
-  its not dynamic either
-  currently no way to edit

[2022-02-24 23:45] gbowne1 commented on #68
Ok @Mahad410.  Thanks.

[2022-02-26 19:29] #71 closed

[2022-02-26 20:41] gbowne1 opened #76 "[TODO] Website - Finish the TAOT .drawio file"
[TODO]

Finish the layout diagram in the TAOTSite.drawio file

[2022-02-26 21:45] gbowne1 opened #77 "[TODO] Website - Create About"

[2022-02-26 21:54] gbowne1 commented on #77
Use Bootstrap 5.1
  -Card
  -Container
  -Row/Column
  -Flex/Grid

Fontawesome Icons or Glyphicons

[2022-02-27 16:22] adkood commented on #77
please assign it to me.

[2022-03-02 08:55] adkood commented on #77
Its my first time so can please elaborate what i have to do. I am having little problem to understand.

[2022-03-02 12:12] Mahad410 commented on #74
I cant fix fetching data because for that we need PHP which I am currently learning

[2022-03-02 22:24] gbowne1 commented on #77
@adkood I didn't realize you were new to this.  This task might be better for someone not new.

[2022-03-02 22:25] gbowne1 commented on #74
@Mahad410 I can do the PHP part.

[2022-03-02 22:27] gbowne1 commented on #68
@Mahad410 That would be most of them in /website/ but mainly index.html here:

https://github.com/gbowne1/taotnpwaft/blob/master/website/index.html

[2022-03-04 10:40] gbowne1 commented on #66
Remove JQWidgets and Toastr.

JQuery UI, Bootstrap and Popper should be fine.

[2022-03-04 10:52] gbowne1 commented on #66
There are push and notification APIs here:

https://developers.google.com/web/updates/2015/03/push-notifications-on-the-open-web

https://developers.google.com/web/fundamentals/push-notifications

https://developer.chrome.com/docs/extensions/reference/notifications/

[2022-03-05 04:01] gbowne1 commented on #48
Here's a Codepen of a Admin panel with some of the functionality needed:

https://codepen.io/melissacabral/pen/ZbPWEJ

[2022-03-06 01:33] gbowne1 opened #79 "[TODO] Fix DatabaseHelper.php 405 error"

[2022-03-06 02:13] gbowne1 commented on #73
I fixed this.. it was a problem with the TAOT.css not being found.

[2022-03-06 02:13] #73 closed

[2022-03-06 02:55] gbowne1 opened #80 "[TODO] Mobile Views"
I did some research on media queries for mobile views and the views we use should fit these breakpoints:

Height: values 360 through 430
Width: values 470 through 926

For a tablet it seems that 600 to 800 x 1080 to1280 should be good at 100%.

I could not find good information on breakpoints for Desktop, but it already seems fine.

This may exclude the Kindle, so don't know what sizing Kindle req

[2022-03-06 03:32] gbowne1 opened #81 "[TODO] Login"
When logged in main page should show a popper, modal or a toast notification that says "Hello [or Welcome], {<username>}!" and/or as well as successful login.

Admin login should show user logged in as admin, possibly a time/date stamp.
New user:  {possibly a new user welcome [splash} page?}
Returning user: Welcome back the returning user

Note: Bootstrap 5 has toasts:
https://getbootstrap.com/doc

[2022-03-06 09:48] HritikR commented on #79
Hi @gbowne1, Can you provide me with a link to the live website.

[2022-03-06 09:57] gbowne1 commented on #79
@Mahad410 there isn't any live website.  If you use an editor like VSCode you can run index.html with the live server extension.

[2022-03-06 10:06] HritikR commented on #79
AFAIK, Live server extension mainly works with static pages. Are you using PHP Server extension for PHP files?

[2022-03-06 10:12] gbowne1 commented on #79
Live Server has worked just fine for development.  We've used PHP extensions and PHPStorm for those parts.

[2022-03-06 17:50] adkood commented on #81
please assign me this task.

[2022-03-06 21:20] gbowne1 commented on #81
@adkood are you sure that youll be able to do this one?

[2022-03-07 05:19] HritikR opened #82 "[GITHUB] Adding links to platform images in Readme"
**Request**
Our platform section should have links to the respective platform(website)

The changes applies to [README.md](https://github.com/gbowne1/taotnpwaft/blob/a3d52ee8071573482d6ad9f06b0983744e265244/README.md?plain=1#L52-L59)
[code]

[2022-03-07 05:25] gbowne1 commented on #82
yes @HritikR I was going to open that issue.

the actual links are here: https://linktr.ee/taotnpwaft

They also need to be added to the website [in the footer] as well as styling with their official colors:

[2022-03-07 05:47] HritikR commented on #82
@gbowne1 Can you please assign this to me?

[2022-03-07 05:49] gbowne1 commented on #82
sure. @HritikR

[2022-03-07 05:52] HritikR commented on #82
Which should one be removed?

[2022-03-07 05:59] gbowne1 commented on #82
either one.

[2022-03-07 06:15] gbowne1 commented on #60
Mission Statement needs to be created

[2022-03-07 06:36] #82 closed

[2022-03-07 09:13] gbowne1 commented on #80
I would propose we do testing based on this browser usage data:

 https://caniuse.com/usage-table

[2022-03-07 09:17] gbowne1 commented on #53
Firefox 97 seems to want favico.ico 16x16 according to its console.  The icon could be a small version of our logo.

[2022-03-07 09:24] gbowne1 opened #85 "[TODO] Create page for Beginner and Intermediate level content"
Create a page to house our non-blog type content for Beginners and Intermediate educational content and guidelines for posting.

Topics can include Programming/Coding, devOps, cloud, SRE, IT, Networking, etc.

[2022-03-07 22:50] gbowne1 opened #86 "[TODO] Website - Social Icons in footer need styling"
These social icons in the footer need styling with their official colors:

![Screenshot 2022-03-07 at 14-25-46 The Art of Tech Not Playing with a Full Tech](https://user-images.githubusercontent.com/47549872/157129121-19090b28-45f3-467f-b312-635b991b06dd.png)

Here are some of the colors I found:

Facebook color: #4267B2 / #3b5998 / #1778F2 / #105785 / #6d84b4 / #1877f2  [Note: These  colors need

[2022-03-08 00:30] gbowne1 opened #87 "[TODO] Fix minor CSS issues"
Having a look in the console of Firefox 97,

  for the section of TAOT.css line 117-124

  [Recent commit fixes two other errors outside of this one.]

[2022-03-08 00:40] gbowne1 commented on #86
Fixed with recent merge.

[2022-03-08 00:40] #86 closed

[2022-03-08 01:29] gbowne1 commented on #87
I also realized there are two TAOT.css

 one in /taotnpwaft/TAOT.css and the other in /taotnpwaft/website/styles/TAOT.css and there is also a TAOTtheme.css

 the two TAOT.css files need to be diff'ed and make sure that the pages in the site links to the one in website/styles/TAOT.css

Can TAOTtheme.css be integrated into TAOT.css??

[2022-03-08 01:48] #61 closed

[2022-03-08 01:52] gbowne1 commented on #50
I just did some more research on SEO stubs for Google Ads, SEO, Analytics.

Need the Google i,s,o,g,r,a,m script and all the Google keys.

I did not investigate the noscript option.

[2022-03-08 02:14] gbowne1 commented on #87
<span class="navbar-toggler-icon"></span> the responsive navbar toggler/hamburger seems to appear at 574 - 576 x (whatever)

[2022-03-08 02:28] gbowne1 commented on #81
Chrome complains about:

in the modal.  I did not see this in Firefox 97 console.

[2022-03-08 02:45] gbowne1 commented on #87
There are a number of issues with contrast in Accessibility context.

[2022-03-09 06:52] gbowne1 opened #88 "[TODO] Website - Fix minor issues found with Google Lighthouse inside of Chrome"
Here are some noted issues in Chrome:

- Buttons do not have an accessible name "button.navbar-toggler"
- Image elements do not have a "alt" attribute
- Theme switch slider does not have an associated label for input#toggle
- Background and Foreground colors do not have a significant contrast ratio
- Change image(s) to WebP or AVIF.
- The Login and Register Modals do not have unique ARIA ID's for

[2022-03-12 05:18] gbowne1 commented on #85
I would suggest building an item in the left nav drawer which may say something like "Learning" with a dropdown.

[2022-03-12 05:22] gbowne1 commented on #87
To fix this,

for the section of TAOT.css line 117-124

 I am thinking this might be better with a margin-left and margin right set to auto in that portion of the css file in this section:
[code]

[2022-03-15 04:32] gbowne1 opened #89 "[TODO] Add Content Security Poilicy"
Here are some links that could get someone started:

https://developers.google.com/web/fundamentals/security/csp

https://hacks.mozilla.org/2016/02/implementing-content-security-policy/

https://content-security-policy.com/

https://cheatsheetseries.owasp.org/cheatsheets/Content_Security_Policy_Cheat_Sheet.html

[2022-03-15 05:11] gbowne1 opened #90 "[TODO] Add SEO Schema.org Structured Data"
Here are some links that could get someone started:

https://moz.com/learn/seo/schema-structured-data

https://schema.org/docs/documents.html
https://schema.org/docs/gs.html

https://www.semrush.com/blog/what-is-schema-beginner-s-guide-to-structured-data/

https://yoast.com/structured-data-schema-ultimate-guide/

https://ahrefs.com/blog/schema-markup/

https://neilpatel.com/blog/get-started-using-

[2022-03-17 02:07] gbowne1 opened #91 "[BUG] Website - Text alignment issue when button is clicked"
Some issue is causing the text to shift position when the index.html is loaded.  This happens when you click on the Login button.

It starts out as centered text then after clicking the Login button, the wrapping changes.

[2022-03-17 02:12] gbowne1 commented on #87
also the Urchen font in /website/styles/TAOT.css has a 'downloadable font' issue.  It says its not a supported type.

[2022-03-17 05:53] gbowne1 commented on #50
Here's a great SO post about the google anaylytics code

https://stackoverflow.com/questions/22716542/google-analytics-code-explanation

I think some of GA has changed since.. so testing needed.

[2022-03-21 22:15] gbowne1 commented on #30
@RishiKumarRay have you had any luck with this yet?

[2022-03-21 22:17] gbowne1 commented on #89
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy

[2022-03-22 03:50] gbowne1 commented on #68
@Mahad410 how are you going on with this issue?

[2022-03-22 07:35] Mahad410 commented on #68
@gbowne1 i have final exams thats why i didnt completeed it yet but next month i can complete it for sure

[2022-03-22 07:39] gbowne1 commented on #68
Ok, keep me updated @Mahad410.

[2022-04-01 15:16] Mahad410 commented on #68
sure now my exams are over so I am ready to work...👀

[2022-04-01 17:24] Mahad410 commented on #68
why do you want to shift the content I mean when the user opens the sidebar he is not looking at content

[2022-04-01 17:51] Mahad410 commented on #68
and i fixed the layout of the page

[2022-04-01 18:28] gbowne1 commented on #68
Great, well hopefully you can help finish some of the TODO issues I have added.

I am pretty sure most users would expect a clean user experience.  Yeah the user is likely not focusing on the content, while the drawer/panel is open.

What did you change?  I look forwards to reviewing your PR.

[2022-04-01 18:51] Mahad410 commented on #68
already push it to your repository you can check it

[2022-04-01 20:59] gbowne1 commented on #68
I just got back to my office.  That looks great.  I will close this issue.  I have not specifically decided on actual front page content on the index.html

Have you decided on what else you'd like to work on?

[2022-04-01 23:48] #68 closed

[2022-04-02 15:25] Mahad410 commented on #68
I will take a break here Ummm I just fix this issue because I told you that I will work on it after my exams so I will take some days off and then I will think.....lol

[2022-04-06 03:55] gbowne1 opened #93 "[FEATURE][TODO] Website - Add Google Optimize stuff"
Implement Google Optimize in SEO.

Note: There are already some stub Google Optimize scripts in the index.html

[related]
https://support.google.com/optimize/answer/6262084/

[2022-04-06 06:45] gbowne1 opened #94 "[TODO] Website - Google Analytics"
Finish Google SEO and Analytics with Google Tag Manager, etc.

[related]:

https://analytics.google.com/analytics/web/provision/#/provision

[2022-04-11 01:08] gbowne1 opened #95 "[TODO] Website - current Issues overview"
Here is an overview of the outlying issues with the current page and site, at least the index.html:

- [ ] Navbar
     a) There should be a user icon, mail icon, bell icon (for notifications) and also use the MDN Push and Notification library.  This will be mainly for blog functions of the site. use the appropriate FontAwesome icons in reusableicons.html instead of png's in /Images/

https://devel

[2022-04-18 09:40] gbowne1 commented on #95
@Trupti0406 , @NaincyKumariKnoldus , @Mahad410 , @HritikR have any of you decided what to work on of these issues?

Let me know.  I am going to be adding a draw.io template to use in design and probably work on a Figma

@idormain, @callowcreation, @mckinnon81, @RyanKHawkins, @OdatNurd, @swathe.. let me kbow if you have any ideas.

Thank you! 😀

[2022-04-18 10:23] gbowne1 commented on #81
Recent push fixed the styling of the modal., but other issues remain.

[2022-04-18 10:25] gbowne1 commented on #80
I've added some @media to TAOT.css to help wiith mobile styling which still needs fixed.

Have not decided on how mobile views should render..

[2022-04-18 10:33] gbowne1 opened #96 "Add cookie law stuff to accept cookies"
Add cookie law stuff to main page

Use the cookielaw CDN provided in index.html...

[2022-04-19 02:31] Mahad410 commented on #95
I will look into it and then tell you

[2022-04-19 05:43] gbowne1 commented on #95
Ok @Mahad410  Let me know.  There's a small number of issues to tackle before the next major hurdle, which should be actual content instead of what amounts to lorem ipsum.

[2022-04-19 07:57] Mahad410 commented on #95
Ummm tell me all the issues i will pick some of them to resolve

[2022-04-19 20:08] gbowne1 commented on #95
@Mahad410  Have you looked at the first post in this issue?  Thats most of the current issues.

[2022-04-20 03:32] Mahad410 commented on #95
Ok i will start working on navbar asap

[2022-04-20 19:12] gbowne1 commented on #95
Ok.  Let me know if you need any information thst may help you @Mahad410

[2022-04-21 04:52] Mahad410 commented on #95
I need the path to the html file and css files

[2022-04-21 05:31] gbowne1 commented on #95
The website files are in /website/  along with the CSS files, TAOT.css and TAOTtheme.css

https://github.com/gbowne1/taotnpwaft/tree/master/website

the root/main page is https://github.com/gbowne1/taotnpwaft/blob/master/website/index.html

The styles are in https://github.com/gbowne1/taotnpwaft/tree/master/website/styles

[2022-04-21 05:51] Mahad410 commented on #95
Ok thank you

[2022-04-21 22:53] gbowne1 opened #97 "[TODO] README.md -- Add these supported projects"
Adding more group supported Shelds.io
![Angular](https://img.shields.io/static/v1?style=for-the-badge&message=Angular&color=DD0031&logo=Angular&logoColor=FFFFFF&label=)
![Apache NetBeans IDE](https://img.shields.io/static/v1?style=for-the-badge&message=Apache+NetBeans+IDE&color=1B6AC6&logo=Apache+NetBeans+IDE&logoColor=FFFFFF&label=)
![Auth0](https://img.shields.io/static/v1?style=for-the-badge&me

[2022-04-21 22:54] gbowne1 commented on #97
Others are listed here in RAW format.

https://raw.githubusercontent.com/progfay/shields-with-icon/master/README.md

[2022-04-22 02:18] HritikR commented on #95
@gbowne1 I would be working on the register button.

[2022-04-22 04:26] gbowne1 commented on #95
@HritikR ok, Yeah, I haven't really decided what to name everything so that the modal works.  The register component modal needs quite a few things more than the login.
   1) creating and confirming/verifying new password and username
   2) entering email
   3) Accepting terms & use policy
   4) "Already have an account?" button that switches modal to login.
   5) acceptable password miniumum 8 ch

[2022-04-22 20:20] gbowne1 commented on #95
@HritikR Thank you! That commit push you did works great.  I just tested it.  That was the majority of the main page problems.

[2022-04-22 20:28] gbowne1 commented on #34
Fixed and Closed with commit by @HritikR and reference issue #95

Thanks @HritikR

[2022-04-22 20:28] #34 closed

[2022-04-22 20:29] gbowne1 commented on #36
@HritikR @Mahad410

[2022-04-22 20:32] gbowne1 commented on #37
Stub scripts have been added for Google SEO

[2022-04-22 20:35] gbowne1 commented on #48
@HritikR @Mahad410

[2022-04-22 20:36] gbowne1 commented on #49
This issue has largely been fixed with recent commits / push.

[2022-04-22 20:36] #49 closed

[2022-04-22 20:40] gbowne1 commented on #54
@Trupti0406 @Mahad410 @HritikR @NaincyKumariKnoldus @idormain

[2022-04-22 20:42] gbowne1 commented on #81
This issue was fixed with recent commit from @HritikR #95

[2022-04-22 20:42] #81 closed

[2022-04-22 20:55] #91 closed

[2022-04-22 21:01] gbowne1 commented on #95
Updated OP.

[2022-04-22 22:02] gbowne1 opened #98 "Contrast and accessibility issues."
From index.html
Some contrast and accessibility issues exist, tested with Firefox 99 accessibility testing in the console/devtools (Linux x64).

- [ ] Text container for the hamburger menu bars show this keyboard accessibility issue

[Clickable elements must be focus-able and should have interactive semantics](https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Keyboard#c

[2022-04-23 00:46] gbowne1 commented on #80
Currently the two mobile views that look decent are iPad and Kindle Fire HDX w/Linux (tested with Firefox 99 (Linux x64)  devtools/console mobile viewer.

Samsung Galaxy and iPhone look terrible.

[2022-04-23 02:24] gbowne1 commented on #87
@HritikR @Mahad410

[2022-04-25 22:40] gbowne1 commented on #95
@HritikR  the login and register modal still does not have unique enough `id=` fields between the two modals

I tested your commit/push from @Mahad410, Did you miss the search component?
There should be a tiny bit of space between the two buttons for mobile and screen reader usage as well as accessibility.  Should they be focus-able content?

I wish there was an easy way to make the header, nav an

[2022-04-26 02:52] HritikR commented on #95
@gbowne1 We can remove the following `ids`
- txtUserName
- txtEmail
- txtPassword
The above specified `ids` belong to the span (font awesome icon container) of the input field.
IDs  are not really necessary for those elements.

[2022-04-26 03:31] gbowne1 commented on #95
@HritikR  yeah, I agree with that. Icons would be great here for visibility but not completely necessary.

Yeah, if a user clicks on any page of our site it should largely look the same between the header and footer and nav component.  The only content that should change from page to page should be anything in the <body> ;; <main> and any sections, asides etc.

Still a number of outlaying issues b

[2022-04-26 22:59] gbowne1 commented on #95
What I also realized today is that there is no log out function. :-1: |

[2022-04-26 23:45] gbowne1 opened #99 "[TODO] [BUG] Website - No log out function"
There is currently no log out function or button for user to log out.

Several things come to mind.
  - PHP  && mysqli
  - jQuery
  - jQuery/Ajax
  - Javascript

Autologout?
Logout after inactivity (user lets page sit idle for x time) // add a timer variable.
Logout after no activity (user doesn't do anything at all ;; no idle)
Logout with cookie

so:

[code]

something with a localStorage.clear()

[2022-05-07 07:59] gbowne1 commented on #95
@HritikR @Mahad410 Its been ~26 days since I posted this particular group of issues.  I haven't had a lot of time to work on anything.  Have either of you decided what to work on next?

Actually I think of the 40 issues most of them sort of overlap each other, and I'd like to redo most of them.

The entirety of the repository is getting pretty big and really needs a big cleanup and organization. I

[2022-05-09 12:53] HritikR commented on #95
@gbowne1 I have been working on the header, and footer part. I will send PR soon.

[2022-05-09 20:29] gbowne1 commented on #95
Ok great! Thanks! @HritikR I am going to work on moving the repository to https://github.com/taotnpwaft so that we can be a bit more organized too.  @Mahad410 @HritikR  Let me know what you think needs moved over and where.

The website can go into https://github.com/taotnpwaft/website/

I sent out the ~20 invites to the new Org mode repository.

[2022-05-10 01:54] #12 closed

[2022-05-10 01:58] #37 closed

[2022-05-11 21:43] gbowne1 opened #102 "Moving to the new Org mode repsoitory"
We are moving to the new Org mode repository, I've set a tentative final move date of the middle of the year, 06-15-2022 // 2022-06-15.

  Which files to we keep?  I added *most* of the .md [Markdown] files that I would consider basic metadata for our group.
the /website/ folder is a seperate project. @Mahad410 @NaincyKumariKnoldus @HritikR @idormain @mckinnon81

  If you haven't gotten an invite

[2022-05-12 04:16] HritikR commented on #102
@gbowne1  After moving to the new Org-mode repository we should consider working on different branches and sending PR rather than directly sending commits to the master branch.🤔

[2022-05-12 04:56] gbowne1 commented on #102
That's a great idea @HritikR.

At least to me, Ideally there would be branches called:

{main} working tree
{master} permanent // not to be messed with ;; staged for production // releases.
{test} stuff that is not suited for either {main} or {test} branch or for testing purposes, stuff that may or may not work.
{feature} branches for specific features

Here main and master could be switched.

I'm

[2022-05-12 05:27] gbowne1 commented on #99
It's been a couple weeks.  Still haven't had that many more thoughts about this.

[2022-05-12 06:04] gbowne1 opened #103 "Moving settings files to new repository"
Where to keep the settings / config files for projects in the new repository?

I was thinking to put them in the repository at https://github.com/taotnpwaft/projects since we are most likely to use these for group projects.

There are settings / config files for these items.

- Atom editor (.atom folder)
- Visual Studio (.vs folder)
- VScode (.vscode folder)
- IntelliJ IDEA (.idea folder)
- Travis

[2022-05-12 08:24] gbowne1 commented on #103
.NET Website files that @idormain created need to be moved from the other repo into the repo at https://github.com/taotnpwaft/dotnetsite/ in case we decide to use that model.

[2022-05-12 09:00] gbowne1 commented on #102
I am also thinking of adding at least one merge reviewer.

As for directly committing and pushing to the master branch, we've been doing that so far because not enough site structure actually works well enough yet.. and most changes have worked.  I've been waiting on getting enough built and working to move forwards with processes.  Not enough has been set in stone for the org yet.  I'm open to wh

[2022-05-12 09:36] gbowne1 commented on #60
I believe our mission/objective/goal for the group should be:

  To provide a safe place for users that enjoy tech to gather snd communicate and to learn and share knowledge and teach others tech skills especially tg9se with mental health issues.

Our products should be:
- Tech News
- Hardware & Software reviews
- Live Streams
- Career advice
- Mental Health in tech
- Coding co-working pomodorro s

[2022-05-13 06:37] gbowne1 opened #104 "Website notes"
Tech Stack
   HTML, CSS, JavaScript, Ajax, PHP, jQuery

Includes/CDN's: FontAwesome, Bootstrap 5.1+, PopperJS, jQuery, Google  Fonts

Database: MariaDB && MySQL.

Fonts: Google Fonts: Roboto, Monsterrat, Lato, OpenSans (main font is Roboto)

Server: IIS (unless there is a significant push to serve it from LAMP stack)

Pages:
  index.php (loads at root or at index.php)
  blog.php (Blog) (
  chat.ph

[2022-05-18 15:04] HritikR commented on #99
Added in 4eed2757a167e39a6ba5b53637265c0c03544e38

[2022-05-18 15:04] #99 closed

[2022-05-19 07:51] gbowne1 opened #105 "Reviews, Pull Requests, Commits.."
I'd like to propose we not continue to commit directly to the repository, this one or the new org mode, rather everyone will create Pull Requests (PR's) from this or the new repository.  I have only been doing this to get us to where we are now.  I suggest we move towards doing more industry standard practices and documenting as such. So..

This means you will:
    Fork it.
    Clone it to your lo

[2022-05-21 09:34] gbowne1 commented on #95
@HritikR @Mahad410 @Trupti0406@ @NaincyKumariKnoldus and anyone else working on the website.  I will be finished moving the website files to the new repository by Tuesday evening US Time. Into https://github.com/taotnpwaft/website/ probably a good idea to start using the new repository.

I will then migrate the most relevant issues from the issues tab here and we can have agroup discussion in the

[2022-05-21 10:13] gbowne1 opened #106 "Group Projects"
Here are some potential group projects to work on:
(As well as other group stuff that needs done

- [ ] Twitch chat bot
- [ ] Discord bot in Python
- [ ] OBS Scenes & overlays
  Starting Stream Scene
  Ending stream Scene
  Be Right Back

- [ ] New logo
- [ ] coworking pomodorreo timer
- [ ] Reddit branding graphica
- [ ] Website
- [ ] Python Calculator
- [ ] REACT Todo app
- [ ] TAOTNPWAFT group

[2022-05-21 10:15] gbowne1 commented on #103
Done.  Please see https://github.com/taotnpwaft/projects/configs/

[2022-05-21 10:15] #103 closed

[2022-05-23 08:33] gbowne1 commented on #29
This issue is fixed with the creation of the new repository github.com/taotnpwaft/project/config/

[2022-05-23 08:37] gbowne1 commented on #43
This issue is fixed with the creation of the new repository, github.com/taotnpwaft/metadata and also /docs/

[2022-05-23 08:37] #43 closed

[2022-05-23 08:38] gbowne1 commented on #44
This issue was fixed by creating our new twitch.tv/taotnpwaft/ channnel.

[2022-05-23 08:39] #44 closed

[2022-05-23 08:42] gbowne1 commented on #80
I've done some basic mobile view testing with recent builds in Firefox 97-99 browser console and the site appears to render just fine now with most device profiles I tried.  I will consider this issue fixed

[2022-05-23 08:42] #80 closed

[2022-05-31 08:23] #60 closed

[2022-05-31 23:05] #31 closed

[2022-06-02 07:37] #25 closed

[2022-06-02 07:53] #30 closed

[2022-06-02 08:00] gbowne1 commented on #30
This was moved to the new org mode repository.

[2022-06-02 08:28] #38 closed

[2022-06-15 06:40] #58 closed

[2022-06-15 07:09] #62 closed

[2022-06-15 07:11] #66 closed

[2022-06-15 07:17] #67 closed

[2022-06-15 07:18] #69 closed

[2022-06-15 07:22] #48 closed

[2022-06-15 07:23] #50 closed

[2022-06-15 07:24] #70 closed

[2022-06-15 07:26] #36 closed

[2022-06-15 07:28] #53 closed

[2022-06-15 07:29] #54 closed

[2022-06-15 07:30] #74 closed

[2022-06-15 07:31] #76 closed

[2022-06-15 07:33] #87 closed

[2022-06-15 07:34] #88 closed

[2022-06-15 07:36] #90 closed

[2022-06-15 07:37] #93 closed

[2022-06-15 07:38] #94 closed

[2022-06-15 07:39] #24 closed

[2022-06-15 07:40] #46 closed

[2022-06-15 07:44] gbowne1 commented on #79
This issue was moved as a TODO on the new org

[2022-06-15 07:48] gbowne1 commented on #102
This TODO and  issue was moved to the new Org repository.

[2022-06-15 07:50] gbowne1 commented on #98
This issue was moved as a TODO item to the new Org Repository.

[2022-06-15 07:50] #98 closed

[2022-06-15 07:51] #85 closed

[2022-06-15 07:51] #89 closed

[2022-06-15 07:51] #96 closed

[2022-06-15 07:51] #106 closed

[2022-06-15 07:54] #95 closed

[2022-06-15 07:55] #97 closed

[2022-06-15 07:56] #104 closed

[2022-06-15 07:57] #102 closed

[2022-06-15 07:57] #105 closed